<div class="container">
	<h1><%= title %> </h1>
	<br>
	<p>In this website you can look up some filtered webs</p>
	<br>
	<div class="row">
		<div class="col-sm-4">
	      <img class="mb-4" style="margin-bottom:10px;" src="/images/html-icon.png" alt="" width="90" height="90">
	      <p>Web sites are written using HTML, which means that each web page is a structured document.
	        Sometimes it would be great to obtain some data from them and preserve the structure while we’re at it.</p>
	    </div>
	    <div class="col-sm-4">
	      <img class="mb-4" style="margin-bottom:10px;" src="/images/website-scraping.png" alt="" width="90" height="90">
	      <p>Web sites don’t always provide their data in comfortable formats.
	        This is where web scraping comes in.</p>
	    </div>
	    <div class="col-sm-4">
	      <img class="mb-4" style="margin-bottom:10px;" src="/images/text-editor.png" alt="" width="90" height="90">
	      <p>Web scraping is the practice of using a computer program to sift
	      through a web page and gather the data that you need in a format most useful to you while at the same time
	      preserving the structure of the data.</p>
	    </div>
	</div>
</div>